<div mat-dialog-title>
  <h1>Giao dịch</h1>
</div>
<form [formGroup]="transactionForm" (ngSubmit)="onFormSubmit()">
  <mat-label>{{ transactionForm.get('isExpense')?.value?'Chi Phí':'Thu Nhập'}}</mat-label>
  <mat-slide-toggle formControlName="isExpense"></mat-slide-toggle>

<mat-form-field>
  <mat-label>Ngày:</mat-label>
  <input matInput [matDatepicker]="picker" formControlName="date">
  <mat-hint>DD/MM/YYYY</mat-hint>
  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker touchUi #picker></mat-datepicker>
  <mat-error *ngIf="transactionForm.get('date')?.hasError('required') && transactionForm.get('date')?.touched">
    Vui lòng nhập Ngày.
  </mat-error>
</mat-form-field>

<mat-form-field>
  <mat-label>Mô tả:</mat-label>
  <input matInput type="text" formControlName="description" />
  <mat-error *ngIf="transactionForm.get('description')?.hasError('required') && transactionForm.get('description')?.touched">
    Vui lòng nhập Mô tả.
  </mat-error>
</mat-form-field>

<mat-form-field>
  <mat-label>Số lượng:</mat-label>
  <input matInput type="number" formControlName="amount" />
  <mat-error *ngIf="transactionForm.get('amount')?.hasError('required') && transactionForm.get('amount')?.touched">
    Vui lòng nhập Số lượng.
  </mat-error>
  <mat-error *ngIf="transactionForm.get('amount')?.hasError('min') && transactionForm.get('amount')?.touched">
    Số lượng phải lớn hơn 0.
  </mat-error>
</mat-form-field>

<button mat-raised-button color="primary" type="submit" [disabled]="!transactionForm.valid">Lưu</button>

</form>

